@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
}
a, a:link, a:visited{
  color: #222;
}

.header-wrap, 
.intro-wrap, 
.exhib-wrap, 
.notice-wrap, 
.sitemap-wrap, 
.footer-wrap{
  width: 100%;
}
header,
.intro-container,
.exhib-container,
.notice-container,
.sitemap-container,
.footer-container{
  max-width: 1440px;
  margin: 0 auto 0;
}

.skip-menu-btn{
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  z-index: 999;
}
.skip-menu-btn:focus{
  width: 100%;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #222;
}

  .utility-wrap{
    width: 100%;
    margin-top: 15px;
    display: inline-block;
  }
    .utility-menu{
      float: right;
    }
    .utility-menu > li{
      position: relative;
      float: left;
      margin-right: 3px;
      border-top: 3px solid #222;
    }
    .utility-menu > li:nth-child(4),
    .utility-menu > li:nth-child(5){
      margin-right: 15px;
    }
    .utility-btn{
      position: relative;
      display: block;
      padding: 8px 5px;
      font-size: 14px;
      font-weight: 300;
      color: #222;
      text-align: center;
    }
    .utility-btn:hover{
      background: #222;
      color: #fff;
    }
      .arrow-down{
        display:inline-block;
        width: 15px;
        height: 8px;
        margin-left: 10px;
        margin-bottom: 1px;
        background: url('../img/down-arrow.png') no-repeat;
        background-size: contain;
      }
    .util-sub-list{
      display: none;
      position: absolute;
      width: 100%;
    }
      .util-sub-btn{
        display: block;
        padding: 8px 5px;
        font-size: 14px;
        font-weight: 300;
        background: #222;
        color: #fff;
        text-align: center;
      }

      .sns-list{
        display: inline-block;
        padding: 0 10px;
      }
      .sns-list li{
        float: left;
        margin-top: 8px;
        margin-right: 15px;
      }
      .sns-list li:last-child{
        margin-right: 0;
      }
      .sns-btn img{
        width: 100%;
      }
      
  .gnb-container{
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .logo{
    width: 16%;
    float: left;
  }
    .loto-btn{
      display: block;
    }
      .logo-btn img{
        width: 90%;
      }
  .gnb-inner{
    width: 65%;
    margin: 0 2%;
    float: left;
  }
    .gnb-top-list{
      width: 100%;
      display: inline-block;
    }
      .gnb-top-list > li{
        width: 13%;
        margin-right: 1.5%;
        float: left;
      }
      .gnb-top-list > li:last-child{
        margin-right: 0;
      }
        .gnb-top-btn{
          display: block;
          padding: 10px 0;
          font-size: 18px;
          font-weight: 500;
          text-align: center;
        }

  .gnb-mid-inner{
    position: absolute;
    top: 70px;
    left: 0;
    display: inline-block;
    width: 100%;
    background: #222;
  }
    .gnb-mid-list{
      display: none;
      width: 80%;
      margin: 0 auto;
    }
    .gnb-mid-list:after{
      content: '';
      display: block;
      clear: both;
    }
      .gnb-mid-list > li{
        float: left;
      }
        .gnb-mid-list .gnb-mid-btn{
          position: relative;
          display: block;
          padding: 10px 0;
          color: #fff;
          margin-right: 15px;
        }

    .gnb-bot-list{
      display: none;
      position: absolute;
      padding: 20px 20px;
      background: #444;
    }
      .gnb-bot-list > li{
        margin-bottom: 5px;
      }
        .gnb-bot-list .gnb-bot-btn{
          font-size: 14px;
          color: #fff;
        }

  .sign-container{
    width: 15%;
    float: left;
  }

  .intro-container{
    margin-top: 60px;
  }